.container{

    display: grid;
    grid-template-rows: repeat(12 , 100px);
    grid-template-columns: repeat(12 , 100px);
    grid-template-areas: 
    "    Date/ Time      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       ."
    "    .      .     .      .      .     .       .      .       .        .        .        .       .";
    
}
.item {
    border: 5px solid;

}
.Monday{
    grid-row: 2 / 4;
}
.Tuesday{
    grid-row: 4 / 6;
}
.Wednesday{
    grid-row: 6 / 8;
}
.Thursday{
    grid-row: 8 / 10;
}
.Friday{
    grid-row: 10 / 12;
}
.form{
    grid-row: 2 / 12;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}
